/* Elementos Base */
:root {
    --letra: #b4b4b4;
    --azulclaro: rgb(52, 142, 145);
    --botaohover: #001c1d;
    --fundo: rgb(17, 17, 17);
    --fundonav: rgb(14, 14, 14);
    --fundoazul: rgba(52, 142, 145, 0.5);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

body {
    background-color: var(--fundo);
    color: white;
}

.container {
    margin: 5px 20px;
    padding: 5px;
}

.botao, .botao-nav {
    color: var(--letra);
    font-size: 15px;
    transition: 0.3s ease all;
}

.botao:hover {
    box-shadow: inset 0 0 1em var(--azulclaro);
}

/* Barra de Navegação */
header .container-nav {
    padding: 5px 15px;
    display: flex;
    background-color: var(--fundonav);
    justify-content: space-between;
    align-items: center;
}

.container-nav .logo {
    width: 75%;
    display: flex;
    justify-content: flex-start;
    color: var(--azulclaro);
    font-weight: bolder;
    font-size: 300%;
}

.nav-bar {
    width: 40%;
    display: flex;
    justify-content: space-evenly;
}

.nav-bar .botao-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: solid 1px transparent;
}

.nav-bar .botao-nav:hover {
    color: var(--azulclaro);
    border-bottom: solid 1px var(--azulclaro);
}

/* Corpo do Site */
.filmeprincipal {
    font-size: 15px;
    background: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0.6) 80%), url("../img/Posteres/ComandoParaMatar.jpg");
    background-size: cover;
    height: 80vh;
    display: flex;
    align-items: center;
}

.filmeprincipal .container {
    width: 60%;
    display: flex;
    flex-direction: column;
}

.filmeprincipal .container .descricao {
    padding: 1ex;
    border-radius: 1rem;
    font-weight: 200;
    transition: 0.2s ease;
}

.filmeprincipal .container .descricao:hover {
    box-shadow: 0 0 0.4em var(--azulclaro), inset 0 0 0.4em var(--azulclaro);
}

/* Botões */
.filmeprincipal .container .caixabotoes {
    margin: 20px 0;
    display: flex;
    align-items: center;
}

.filmeprincipal .container .botao,
.aviso .caixabotoes .botao,
.Sobre-80flix .botao {
    color: white;
    background-color: var(--fundoazul);
    border: solid 2px var(--fundoazul);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    cursor: pointer;
}

.filmeprincipal .container .botao:hover,
.aviso .caixabotoes .botao:hover,
.Sobre-80flix .botao:hover {
    background-color: var(--botaohover);
}

.filmeprincipal .container .botao i,
.aviso .caixabotoes .botao i,
.Sobre-80flix .botao i {
    margin-right: 8px;
}

/* Carrossel */
.titulo-carrosel {
    color: var(--letra);
    font-size: 35px;
    text-align: center;
    padding: 20px 30px;
    margin: 10px 0;
}

.box-filme {

        height: auto;
        width: auto;

    display: block;
}

.item {
    background-color: #000;
    opacity: 0.6;
    transition: 0.3s ease all;       
    box-shadow: 0 0 2px 2px var(--azulclaro);

    
}

.item:hover {
    opacity: 1;
    cursor: pointer;
}

/* Aviso */
.aviso {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 80vh;
    width: 60%;
    margin: auto;
}

.aviso i {
    color: var(--azulclaro);
    font-size: 70px;
}

.aviso p {
    color: var(--azulclaro);
    font-size: 40px;
    text-align: center;
}

/* Sobre Nós */
.Sobre-80flix {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 50px 100px;
    height: 60vh;
}

.Sobre-80flix .logo {
    padding: 10px 0;
    font-size: 30px;
    color: var(--azulclaro);
}

.Sobre-80flix p {
    border-top: solid 1px var(--letra);
    padding: 10px;
    text-align: center;
    width: 40%;
}

.Sobre-80flix .contato-tit {
    padding: 10px 50px;
    margin: 10px 0;
    font-size: 20px;
    color: var(--azulclaro);
    border-bottom: solid 1px var(--letra);
}

.Sobre-80flix .contatos {
    font-size: 300%;
    width: 50%;
    display: flex;
    justify-content: center;
}

.contatos a {
    color: var(--azulclaro);
    text-decoration: none;
}
