/*Elementos Base*/

:root{
    --letra:#b4b4b4;
    --azulclaro:rgb(52, 142, 145);
    --botaohover:#001c1d;
    --fundo:rgb(31, 31, 31);
    --fundoazul:rgba(52, 142, 145, .50);

}
*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body{
    background-color: var(--fundo);
    color: white;
}
.container{
    margin: 5px 20px;
    padding: 10px;
}
.botao{
    color: var(--letra);
    font-size: 15px;
}
/*Container Barra de navegação*/

header .container{
    padding: 5px 10px;
    display: flex;
    background-color: var(--fundo);
    justify-content: space-between;
    align-items: center;
}

.container .logo{
    width: 75%;
    display: flex;
    justify-content: flex-start;
    color: var(--azulclaro);
    font-weight:bolder;
    font-size: 400%;
}

.nav-bar{
    width: 40%;
    display: flex;
    justify-content: space-evenly;
}

.nav-bar .botao{
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom:solid 1px var(--fundo);
}
.nav-bar .botao:hover{
    color: var(--azulclaro);
    border-bottom:solid 1px var(--azulclaro);
}


/*Corpo do site*/

    /*----Filme Principal base*/

.filmeprincipal{
    font-size: 15px;
    background: linear-gradient(rgb(31, 31, 31),rgb(31, 31, 31,.50)100%), url("/img/Posteres/ComandoParaMatar.jpg");
    background-size: cover;
    height: 70vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}
.filmeprincipal .container{
    width: 60%;
    display: flex;
    flex-direction: column;
}

        /* Titulo */
.filmeprincipal .container .titulo{
    margin: 20px 0px;
    font-size: 35px;
    display: flex;
    align-items: center;
    
}
        /* descricao */
.filmeprincipal .container .descricao{
    display: flex;
    align-items: center;
    transition: .3s ease all;
}        
.filmeprincipal .container .descricao:hover{
    margin: 20px 0px;
    padding: 15px 0px;      
}
/*botoes filme principal*/
.filmeprincipal .container .caixabotoes{
    margin: 20px 0px;
    display: flex;
    justify-content:flex-start ;
    align-items: center;
}
.filmeprincipal .container .botao{
    color: white;
    background-color: var(--fundoazul);
    border: var(--fundoazul) solid 2px;
    border-radius: 10px 10px;
    display: flex;
    align-items: center;
    margin: 0px 10px;
    padding: 10px 10px;
    cursor: pointer;
    transition: .3s ease all;

}
.filmeprincipal .container .botao:hover{
    background-color: var(--botaohover);
    
}

.filmeprincipal .container .botao i{
    margin-right: 8px;

}

/* Carrosel */
.titulo-carrosel{
    color: var(--letra);
    font-size: 35px;
    text-align: center;
    padding: 20px 30px ;
    margin: 10px 0px;
}
.carrosel-caixa{
    margin-top: 10px;
}

.box-filme{
    height: 100%;
    width: 100%;
    display: block;
    box-shadow:0 0 10px var(--azulclaro);
}

.item{
    background-color: #000;
    opacity: 0.6;
    transition: 0.3s ease all;
    

}
.item:hover{
    background-color: #000;
    opacity: 1;
    cursor:pointer;
}

/*aviso*/
.aviso{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 60vh;
    width: 60%;
    margin:auto;
}
.aviso i{
    color: var(--azulclaro);
}
.aviso p{
    color: var(--azulclaro);
    font-size: 50px;
}
.aviso .caixabotoes{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 30%;
}
.aviso .caixabotoes .botao{
    color: white;
    background-color: var(--fundoazul);
    border: var(--fundoazul) solid 2px;
    border-radius: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 20px;
    cursor: pointer;
    transition: .3s ease all;
}
.aviso .caixabotoes .botao i{
    color: white;
    font-size: 25px;
    padding-right: 10px;
}

/* Sobre Nós */
.Sobre-80flix{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin: auto;
}
.Sobre-80flix p{
    padding: 20px;
    text-align: center;
}
.Sobre-80flix .logo{
    padding: 10px 0px;
    margin: 10px 0px;
    justify-content: center;
    border-bottom:solid 1px #b4b4b4;
}
.Sobre-80flix .contato{
    font-weight:bolder;
    font-size: 200%;
    color: var(--azulclaro);
    justify-content: center;
}

